// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // footer // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
.v-footer {
  @include parent;
  padding-inline: var(--margin-global);
  transition: 0.5s $ease-return;
  // padding: clamp(2em, 4vw, 4em);

  img{
    width: max(150px, 5em);
  }
}
